:root {

    /* 검정색 대신 쓰일 색 */
    --black: #02142E;

    /* 포인트 색상 */
    --primary800: #04285C;
    --primary700: #073B89;
    --primary600: #094FB7;
    --primary500: #0B63E5;
    --primary400: #3C82EA;
    --primary300: #6DA1EF;
    --primary200: #9DC1F5;
    --primary100: #CEE0FA;
    --primary50: #F0F5FF;

    /* 회색계열 색상 */
    --gray700: #42526B;
    --gray600: #6A778B;
    --gray500: #838E9E;
    --gray400: #9BA4B1;
    --gray300: #B4BBC5;
    --gray200: #CDD2D8;
    --gray100: #E6E8EC;
    /* 메인페이지 배경색 */
    --gray50: #F5F6F7;

    /* 사이드바 색상 */
    --side: #F9F9F9;

    /* 초록색 */
    --green: #00cc00;

}